<!-- The Modal -->
<div *ngIf = "IsModalDisplaying" id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span (click)="HideModal()" class="close">&times;</span>
    <h3 class="title">{{selectedProjectName}}</h3>
    <form *ngIf="issuesLoaded && activitiesLoaded; else loadingForm">
        <h5 class="title">Enter hours</h5>
        <input id="hours-input" [(ngModel)]="timeEntryToPost.hours" class="text" type="number" min="0" name="hours" placeholder="Enter hours" /><br><br>
        <input id="comment-input" [(ngModel)]="timeEntryToPost.comments" class="text" type="text" name="description" placeholder="Enter description" />
        <h5 class="title">Select Issue</h5>
        <select class="text" [(ngModel)]="timeEntryToPost.issueId" name="issue" >
            <option *ngFor="let issue of issueSelector" class="text" [value]="issue.id">{{issue.subject}}</option>
        </select><br />
        <h5 class="title">Select Activity</h5>
        <select [(ngModel)]="timeEntryToPost.activityId" class="text" name="activity">
            <option *ngFor="let activity of activitySelector" class="text" [value]="activity.id">{{activity.name}}</option>
        </select><br />
        <input id="dateEntry" type="hidden" name="date" value="" />
        <p class="title">Date:{{date}} </p><br />
    </form>
    <ng-template #loadingForm>
        <app-loading-circle></app-loading-circle>
    </ng-template>
    <button *ngIf="issuesLoaded && activitiesLoaded" (click)="AddTimeEntry()">Add time entry</button>
  </div>

</div>
<table class='table'>
    <thead>
        <tr *ngIf="!areHoursLoading">
            <th style="width: 20%;" scope="col">Projects:</th>
            <th *ngFor="let day of tableHeaders">{{day}}</th>
        </tr>
        <tr *ngIf="areHoursLoading">
            <th style="width: 20%;" scope="col">Projects:</th>
        </tr>
    </thead>
    <app-loading-circle *ngIf="!projectList || areHoursLoading; else elseBlock"></app-loading-circle>
    <ng-template #elseBlock>
        <tbody>
            <tr *ngFor="let element of projectList">
                <td>{{element.name}}</td>    
                <td *ngFor="let hours of element.hoursPerday; let i = index" class="td">
                    {{hours}} logged hours<br><br><button  (click)="DisplayModal(element, i)" class="button-green" >Add time entry</button>
                </td>        
            </tr>
            <tr>
                <td>Total hours:</td>
                <td *ngFor = "let hours of hoursCounter">{{hours}} hours in the day</td>
            </tr>
        </tbody>    
    </ng-template>
</table>