$font-stack:    Helvetica, sans-serif;

.message{
    font: 100% $font-stack;
    color: green;
    font-size: x-large;
}
.warning-message{
    font: 100% $font-stack;
    font-size: large;
    color: red;
}
.title{
    font: 100% $font-stack;
    font-size: large;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}