<p class="message">{{infoMessage}}</p>
<p class="warning-message">{{errorMessage}}</p>
<div class="wrapper">
    <form class="center">
        <h4 class="title">Add or update base addres</h4>
        <div class="form-group">
            <input type="text" [(ngModel)]="baseAddress" class="form-control form-input" id="baseAddress" name="baseAddress" placeholder="Enter your base address">
        </div>
        <div class="form-group">
            <button type="submit" (click)="AddBaseAddress()" class="btn btn-primary button">Add/Modify base address</button>
        </div>
    </form>
    <form class="center" *ngIf = "IsValidAddress">
            <h4 class="title">Add or update api key</h4>
            <div class="form-group">
                <input type="text" [(ngModel)]="apiKey" class="form-control form-input" id="Redminekey" name="Redminekey" placeholder="Enter your api key">
            </div>
            <div class="form-group">
                <button type="submit" (click)="AddApiKey()" class="btn btn-primary button">Add/Modify api key</button>
            </div>
    </form>
</div>