@{
    ViewData["Title"] = "AddKey";
}
<hr />
<h2>AddKey</h2>

<div class="container">
    <form asp-controller="Projects" asp-action="UpdateRedmineKeyAsync" method="post">
        @{
            if (!string.IsNullOrEmpty(ViewBag.msj))
            {
            <h3 style="color:red">@ViewBag.msj</h3>
            }
        }
        <div class="form-group">
            <label>@ViewBag.user</label>
            @if (ViewBag.key == null)
            {
            <input type="text" class="form-control" id="Redminekey" name="Redminekey" placeholder="Enter your api key">
            }
            else
            {
            <input type="text" class="form-control" id="Redminekey" name="Redminekey" value=@ViewBag.key>
            }
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Add/Modify api key</button>
        </div>
    </form>
</div>